
body {
    background-color: #1a1b1a;
    color: rgb(216, 212, 212);
  font-family: "DM Serif Text", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #404240;
    color: rgb(214, 214, 214);
    font-family: "DM Serif Text", sans-serif;
}

.passo {
    display: none;
}
.passo.ativo {
    display:block;
}
main {
    text-align: center;
    max-width: 90%;
}
img {
    max-width: 50%;
}